.bottomButton {
  background-color: white;
  width: 100%;
  padding: 4px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--active);
}

.bottomButton div {
  margin: 0;
  width: calc(100% - 8px);
}

.bottomButton div div {
  display: none;
  width: 100%;
}