ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 10px var(--body-padding);
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  font-size: var(--font-medium);
  border-top: 1px solid var(--bubble);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul > li.pressed {
  background-color: var(--wash);
}

ul > li p.secondary {
  font-size: var(--font-small);
  color: var(--secondary-text);
}

ul > li div.rightText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-text);
}

ul > li.header {
  border: none;
  padding: var(--body-padding);
  padding-bottom: calc(var(--body-padding)/2);
  font-size: var(--font-small);
  color: var(--secondary-text);
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 600;
}

ul > li:last-child {
  border-bottom: 1px solid var(--bubble);
}
